<head>
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Sign out", destroy_user_session_path %>

</head>
<div class="movies__btn-add">
  <%= link_to 'Adicionar Filme', new_movie_path, class: "btn btn-secondary" %>
</div>
